.Input {
    padding: 2px;        
}

.LabelContainer {
    margin-left: 22px;
}

.ButtonLabel {
    color: #333;
    font-size: 12px;
}

.ButtonIcon {
    margin-left:10px;
    height: 50px;    
    border: 3px solid lightgray; 
    border-radius: 10px; 
}

.MainButtonContainer {
    align-items: center;
    vertical-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.MainButton {
    height: 50px!important;
    line-height: 1.2em!important;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(10,10,250,.7);
}